
body {
    background-image: url('images/BloodBackground.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;  
}

.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 55px;
    background-color: #f3e8e8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #212121;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #D50000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d500008b;
}

.scrollable {
    max-height: 400px;
    overflow-y: auto;
}

.footer {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}
